<div class="login-container">
  <img src="assets/images/film.png" alt="" class="film" />
  <div class="logo">Rotten Potatos</div>
  <div class="description">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe nam tempora
    aspernatur perferendis voluptas, eaque delectus hic sequi placeat voluptatum
    mollitia aperiam voluptatem in neque, laudantium expedita eligendi,
    asperiores animi!
  </div>
  <div class="login-form">
    <div class="form-group">
      <label for="usname">Username</label>
      <input
        type="text"
        name="uname"
        class="form-control"
        [(ngModel)]="username"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        [(ngModel)]="password"
      />
    </div>
    <div class="btn-container">
        <div class="error">{{ errormsg }}</div>
      <button class="btn btn-dark" (click)="login()">Login</button>
    </div>
  </div>
</div>
